<div>
    <h2 id="page-heading">
        <span jhiTranslate="comeGoApp.history.home.title">Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-history" [routerLink]="['/history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="comeGoApp.history.home.createLabel">
            Create new History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="histories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="comeGoApp.history.actualDate">Actual Date</span></th>
            <th><span jhiTranslate="comeGoApp.history.startEvent">Start Event</span></th>
            <th><span jhiTranslate="comeGoApp.history.endEvent">End Event</span></th>
            <th><span jhiTranslate="comeGoApp.history.grossHours">Gross Hours</span></th>
            <th><span jhiTranslate="comeGoApp.history.deductionHours">Deduction Hours</span></th>
            <th><span jhiTranslate="comeGoApp.history.additionHours">Addition Hours</span></th>
            <th><span jhiTranslate="comeGoApp.history.netHours">Net Hours</span></th>
            <th><span jhiTranslate="comeGoApp.history.badge">Badge</span></th>
            <th><span jhiTranslate="comeGoApp.history.person">Person</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let history of histories ;trackBy: trackId">
                <td><a [routerLink]="['/history', history.id, 'view' ]">{{history.id}}</a></td>
                <td>{{history.actualDate | date:'mediumDate'}}</td>
                <td>{{history.startEvent | date:'medium'}}</td>
                <td>{{history.endEvent | date:'medium'}}</td>
                <td>{{history.grossHours}}</td>
                <td>{{history.deductionHours}}</td>
                <td>{{history.additionHours}}</td>
                <td>{{history.netHours}}</td>
                <td>
                    <div *ngIf="history.badge">
                        <a [routerLink]="['../badge', history.badge?.id, 'view' ]" >{{history.badge?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="history.person">
                        <a [routerLink]="['../person', history.person?.id, 'view' ]" >{{history.person?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/history', history.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/history', history.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'history/'+ history.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
