<div>
    <h2 id="page-heading">
        <span jhiTranslate="comeGoApp.badgeEvent.home.title">Badge Events</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-badge-event" [routerLink]="['/badge-event/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="comeGoApp.badgeEvent.home.createLabel">
            Create new Badge Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="badgeEvents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="comeGoApp.badgeEvent.occurance">Occurance</span></th>
            <th><span jhiTranslate="comeGoApp.badgeEvent.badge">Badge</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let badgeEvent of badgeEvents ;trackBy: trackId">
                <td><a [routerLink]="['/badge-event', badgeEvent.id, 'view' ]">{{badgeEvent.id}}</a></td>
                <td>{{badgeEvent.occurance | date:'medium'}}</td>
                <td>
                    <div *ngIf="badgeEvent.badge">
                        <a [routerLink]="['../badge', badgeEvent.badge?.id, 'view' ]" >{{badgeEvent.badge?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/badge-event', badgeEvent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/badge-event', badgeEvent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'badge-event/'+ badgeEvent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
